<html>
  <head>
    <title>
      quotesApi
    </title>
    <!-- bootstrap fonts-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Roboto"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/developer.css" />
    <!-- Bootstrap core CSS -->
  </head>
  <body>
    <header>
      <nav>
        <span
          ><a href="https://rest.quotesapi.cf"
            ><i class="fab fa-github"></i>Github</a
          ></span
        >
        <span>
          <a href="/">
            <i class="fas fa-home"></i>
            Home
          </a>
        </span>
      </nav>

      <div class="title">
        <h1>Quotes Api</h1>
      </div>
      <div class="subtitle">
        <h3>
          Quotes Api is rest api for quotes, who wants use it any where they
          want. Quotes of different types and including search.
        </h3>
      </div>
      <div class="browser">
        <div class="buttons">
          <span class="button-red"></span>
          <span class="button-green"></span>
          <span class="button-yellow"></span>
          <div class="address"></div>
        </div>
        <div class="code">
          <h5>quotesapi.cf<span>/</span>quotes</h5>

          <pre>
          <code>
    {
    <div class="quote-block">
     <span class="img"> "img"</span>:<span class="quote-image"> "https://images.gr-assets.com/quotes/1387506524p2/2534.jpg"</span>,
      <span class="author">"author"</span>: <span class="quote-author">"Stephen Chbosky"</span>,
      <span class="quote">"quote"</span>:<span class="quote-txt"> "We accept the love we think we deserve."</span>
    </div>
    },
     
     {
     <div class="quote-block">
     <span class="img"> "img"</span>:<span class="quote-image"> "https://images.gr-assets.com/quotes/1387503187p2/10554.jpg"</span>,
      <span class="author">"author"</span>:<span class="quote-author"> "Marthe Troly-Curtin</span>",
      <span class="quote">"quote"</span>:<span class="quote-txt"> "Time you enjoy wasting is not wasted time."</span>
    </div>
    },
    
    {
    <div class="quote-block">
      <span class="img">"img"</span>:<span class="quote-image"> "https://images.gr-assets.com/quotes/1387503187p2/10554.jpg"</span>,
      <span class="author">"author"</span>:<span class="quote-author"> "Gordon A. Eadie"</span>,
      <span class="quote">"quote"</span>:<span class="quote-txt"> "If you don't stand for something you will fall for anything."</span>
    </div>
    } 
          </code>
          </pre>
        </div>
      </div>
      <!-- section route one doc -->
      <section class="container">
        <div class="section-heading">
          <h1>Resources & Https methods</h1>
        </div>
        <div class="content">
          <h3>
            quotes api has three resources, each resource provides x number of
            quotes.
          </h3>
        </div>
        <div class="first-resource">
          <h2 class="head-quotes">
            <i class="fas fa-quote-left"></i><italic> /quotes</italic
            ><i class="fas fa-quote-right"></i>
          </h2>
          <h3>
            route '/quotes' gives popular quotes from the goodreads collection.
            you can give 'page' has parameter.
          </h3>
        </div>
        <div class="implementation-quotes">
          <div class="buttons">
            <span class="button-red"></span>
            <span class="button-green"></span>
            <span class="button-yellow"></span>
            <div class="address"></div>
          </div>

          <pre>
       <code>
      <span class="method">fetch</span>(<span class="string">'http://rest.quotesapi.cf/quotes?page=1'</span>)
            .<span class="method">then</span>(<span class="func">function</span>(response) {
                 <span class="return">return</span> response.json();
            })
            .<span class="method">then</span>(<span class="func">function</span>(myJson) {
                 console.<span class="method">log</span>(<span>JSON</span>.<span class="method">stringify</span>(myJson));
            })
            .<span class="method">catch</span>(<span class="func">function</span>(err){
                 console.<span class="method">log</span>(err)
            })
             </code>
       </pre>
        </div>

        <div class="get-quotes">
          <a href="http://rest.quotesapi.cf/quotes">GET </a>
          <span>http://www.quotesapi.cf/quotes?page=1</span>
        </div>

        <div class="first-resource">
          <h2 class="head-quotes">
            <i class="fas fa-quote-left"></i><italic> /search</italic
            ><i class="fas fa-quote-right"></i>
          </h2>
          <h3>
            route '/search' gives quotes by search keywork which is 'q'
            parameter , returns results based on search parameter of books and
            author.
          </h3>
        </div>

        <div class="implementation-quotes">
          <div class="buttons">
            <span class="button-red"></span>
            <span class="button-green"></span>
            <span class="button-yellow"></span>
            <div class="address"></div>
          </div>

          <pre>
    <code>
  <span class="method">fetch</span>(<span class="string">'http://rest.quotesapi.cf/search?q=walden&page=1'</span>)
            .<span class="method">then</span>(<span class="func">function</span>(response) {
                 <span class="return">return</span> response.json();
            })
            .<span class="method">then</span>(<span class="func">function</span>(myJson) {
                 console.<span class="method">log</span>(<span>JSON</span>.<span class="method">stringify</span>(myJson));
            })
            .<span class="method">catch</span>(<span class="func">function</span>(err){
                 console.<span class="method">log</span>(err)
            })
             </code>
       </pre>
        </div>
        <div class="get-quotes">
          <a href="http://rest.quotesapi.cf/search?q=walden&page=1">GET </a>
          <span>http://www.quotesapi.cf/search?q=walden&page=1</span>
        </div>

        <div class="first-resource">
          <h2 class="head-quotes">
            <i class="fas fa-quote-left"></i><italic> /tag/:category</italic
            ><i class="fas fa-quote-right"></i>
          </h2>
          <h3>
            route "/tag/:category" gives quotes based upon category. for
            category check goodreads, it also takes page as parameter.
          </h3>
        </div>

        <div class="implementation-quotes">
          <div class="buttons">
            <span class="button-red"></span>
            <span class="button-green"></span>
            <span class="button-yellow"></span>
            <div class="address"></div>
          </div>

          <pre>
       <code>
      <span class="method">fetch</span>(<span class="string">'http://rest.quotesapi.cf/tag/wisdom?page=1'</span>)
            .<span class="method">then</span>(<span class="func">function</span>(response) {
                 <span class="return">return</span> response.json();
            })
            .<span class="method">then</span>(<span class="func">function</span>(myJson) {
                 console.<span class="method">log</span>(<span>JSON</span>.<span class="method">stringify</span>(myJson));
            })
            .<span class="method">catch</span>(<span class="func">function</span>(err){
                 console.<span class="method">log</span>(err)
            })
             </code>
       </pre>
        </div>
        <div class="get-quotes">
          <a href="http://rest.quotesapi.cf/tag/wisdom?page=1">GET </a>
          <span>http://www.quotesapi.cf/tag/wisdom?page=1</span>
        </div>
      </section>
    </header>

    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="/js/index.js"></script>
  </body>
</html>
