<html>
  <head>
    <title>
      quotesApi
    </title>
    <!-- bootstrap fonts-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Roboto"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/developer.css" />
    <!-- Bootstrap core CSS -->
  </head>
  <body>
    <header>
      <nav>
        <span
          ><a href="https://rest.quotesapi.cf"
            ><i class="fab fa-github"></i>Github</a
          ></span
        >
        <span>
          <a href="/">
            <i class="fas fa-home"></i>
            Home
          </a>
        </span>
      </nav>

      <div class="title">
        <h1>Quotes Api</h1>
      </div>
      <div class="subtitle">
        <h3>
          Quotes Api is rest api for quotes, who wants use it any where they
          want. Quotes of different types and including search.
        </h3>
      </div>
    </header>
    <section></section>
    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="/js/index.js"></script>
  </body>
</html>
