<% include partials/header %>

<header class="">
  <div class="">
    <div class="nav">
      <h2 class="primary">
        <i class="fas fa-quote-left"></i>
        <span class="logo"> good quotes</span>

        <i class="fas fa-quote-right"></i>
        <span class="nav-buttons">
          <a href="/" class="home">Home</a>
          <a href="/developer" class="dev">Developer</a>
        </span>
      </h2>
    </div>
  </div>
  <div class="row">
    <h1 class="primary" id="quote_data">
      Don’t walk in front of me… I may not follow
      <br />
      Don’t walk behind me… I may not lead<br />Walk beside me… just be my
      friend
    </h1>
  </div>
</header>

<section class="section-1">
  <h3 class="text-center">
    Good Quotes is free online REST API that you can use whenever you need some
    quotes data , it's great for building apps and anywhere you need
    inspiration.
  </h3>
</section>

<section class="section-2 grid-container">
  <div class="image-2">
    <img
      class="shadow-1"
      src="https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
      width="100%"
    />
  </div>
  <div class="div-left-2">
    <h2 class="primary">
      “I learned this, at least, by my experiment: that if one advances
      confidently in the direction of his dreams, and endeavors to live the life
      which he has imagined, he will meet with a success unexpected in common
      hours.” ― Henry David Thoreau
    </h2>
  </div>
</section>
<section class="section-3">
  <h3 class="text-center">
    Samuel Burrows is a Webby-Awarded copywriter, a published novelist, and
    poet. He’s looking for new copywriting projects in advertising: remote,
    on-site, freelance, or full-time.
  </h3>
</section>

<section class="section-4 grid-container">
  <div class="div-left">
    <h1 class="primary-h1">
      Samuel Burrows is a Webby-Awarded copywriter, a published novelist, and
      poet. He’s looking for new copywriting projects in advertising: remote,
      on-site, freelance, or full-time.
    </h1>
  </div>
  <div class="image-1">
    <img
      class="shadow-2"
      src="https://images.unsplash.com/photo-1519304520401-239e2a56a1aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
      width="100%"
    />
  </div>
</section>

<% include partials/footer%>
