<% include partials/header %>

<header class="">
  <div class="nav">
    <i class="fas fa-quote-left"></i>

    <i class="fas fa-quote-right"></i>
    <h2 class="primary">
      good quotes
    </h2>
  </div>
  <div class="row">
    <h1 class="primary" id="quote_data">
      Don’t walk in front of me… I may not follow
      <br />
      Don’t walk behind me… I may not lead<br />Walk beside me… just be my
      friend
    </h1>
  </div>
</header>
<section class="section-1">
  <h3 class="text-center">
    Samuel Burrows is a Webby-Awarded copywriter, a published novelist, and
    poet. He’s looking for new copywriting projects in advertising: remote,
    on-site, freelance, or full-time.
  </h3>
</section>

<section class="section-2 grid-container">
  <div class="image-2">
    <img
      class="shadow-1"
      src="https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
      width="100%"
    />
  </div>
  <div class="div-left-2">
    <h1 class="primary">
      Samuel Burrows is a Webby-Awarded copywriter, a published novelist, and
      poet. He’s looking for new copywriting projects in advertising: remote,
      on-site, freelance, or full-time.
    </h1>
  </div>
</section>

<section class="section-3">
  <h3 class="text-center">
    Samuel Burrows is a Webby-Awarded copywriter, a published novelist, and
    poet. He’s looking for new copywriting projects in advertising: remote,
    on-site, freelance, or full-time.
  </h3>
</section>

<section class="section-4 grid-container">
  <div class="div-left">
    <h1 class="primary-h1">
      Samuel Burrows is a Webby-Awarded copywriter, a published novelist, and
      poet. He’s looking for new copywriting projects in advertising: remote,
      on-site, freelance, or full-time.
    </h1>
  </div>
  <div class="image-1">
    <img
      class="shadow-2"
      src="https://images.unsplash.com/photo-1519304520401-239e2a56a1aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
      width="100%"
    />
  </div>
</section>

<% include partials/footer%>
