/*light grey :#f1f1ee light black : #4a4a4a
*/
* {
  padding: 0;
  margin: 0;
}

body {
  background: ;
  color: ;
}
h1,
h4,
h5 {
  font-family: Montserrat;
}

/*------------- nav ------------*/
nav {
  background: #f8fafc;
  padding: 10px;
  text-align: center;
}

nav i {
  margin: auto;
  font-family: Montserrat;
  color: black;
  padding: 10px;
}
nav a {
  color: black;
}

/* ------------- header -----------*/
h1 {
  text-align: center;
}

h3,
h5,
h4 {
  text-align: center;
  font-family: Montserrat;
}
.subtitle {
  margin-top: 40px;
  margin-left: 25%;
  margin-right: 25%;
}
.title {
  padding-top: 100px;
}

header {
  height: 100vh;
}
/*------------------ browser ----------*/
/*----------------code -----------*/
.buttons {
  padding: 10px;
}
.button-red {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 100%;
}
.button-green {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: yellow;
  border-radius: 100%;
}
.button-yellow {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: green;
  border-radius: 100%;
}

.browser {
  margin-top: 40px;
  width: 700px;
  margin-left: 340px;
  margin-right: 300px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
}
.code {
  width: 30%;
}
.code h5 {
  background: lightblue;
  padding: 10px;
  font-size: 1rem;
  font-family: Lato;
}
.code h5 span {
  padding: 2px;
}

/* quote - block */
.quote-block span {
  padding: 10px;
  font-family: Lato;
  font-size: 1rem;
  font-style: italic;
}

.quote-block .img {
  color: #003366;
}
.quote-block .quote-image {
  color: #eb2188;
}

.quote-block .author {
  color: #003366;
}
.quote-block .quote-author {
  color: #eb2188;
}
.quote-block .quote {
  color: #003366;
}
.quote-block .quote-txt {
  color: #eb2188;
}
/* section routes docs */
.container {
  margin-top: 40px;
  width: 700px;
  margin-left: 340px;
  margin-right: 300px;
}

.container .section-heading {
  padding: 20px;
}
.container .content {
  padding: 10px;
}
.container .first-resource {
  padding: 10px;
  color: #003366;
}
.container .first-resource i {
  padding: 10px;
  color: #003366;
}
.get-quotes a {
  padding: 13px;
  margin-left: 0;
  background: black;
  color: white;
  border-radius: 40px;
}

.get-quotes {
  margin: 0;
  background: #d4d4dc;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
}

.get-quotes span {
  margin-left: 20px;
  font-family: Lato;
  font-size: 20px;
}

/* ---------- javascript code ---------- */
.implementation-quotes {
  font-size: 20px;
}
.implementaion-quotes span {
  padding: 10px;
}
.implementation-quotes {
  margin-top: 40px;
  width: 700px;
  margin-right: 300px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
}
.method {
  color: red;
}

.func {
  color: blue;
}

.string {
  color: green;
}

.return {
  color: #4dd0e1;
}
